.user-post-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.userinfo-post-user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;


}
.userinfo-post-user-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.userinfo-post-user-username p{
    font-size: 12px;
    font-weight: bold;
}
.userinfo-post-post-image{
    width: 400px;
    height: 500px;
}
.userinfo-post-post-image img {
    max-width: 100%;
    height: 100%;
  }
  .userinfo-post {
    display: flex;
    flex-direction: column;

    justify-content: center;
    border-bottom: 1px solid rgb(205, 201, 201);
    padding: 10px 20px;
    /* margin-bottom: 1em; */

  }  
  .userinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2em;
    
  }
  .userinfo-post-user{
    display: flex;
    gap: 1em;
  }
  .post-like{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    gap: 0.1em;
    margin-top: 10px;
  }
  .user-comment-comment{
   
  }
  .user-comment{
    display: flex;

    align-items: center;
    gap: .2em;

    height: 23px;
  }
  .reply{
    display: flex;
    
    align-items: center;
    gap: .2em;
   
    height: 23px;
    margin-left: 23px;

  }
  .add-comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2em;
}
  .add-comment input{
    width: 80%;
    
  }
  .add-comment button{
    width: 20%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 0;
  }
  .follow-someone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .user-follow-box{
    display: flex;
    flex-direction: column;
    width: 167px;
    height:auto;
    padding: 10px;
    /* border: 1px solid white; */
    line-height: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .user-follow-box-img{
    width: 100px;
    height: 100px;

  }
  .user-follow-box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .user-follow-container{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    right: 2vw;
  }